@import 'utils.scss';
@import 'logo.scss';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: $color-dark;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #fceae5;
}

// HEADER
header {
  height: 70vh;
  display: flex;
}

// GENERAL
a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

section {
  padding: 0 0.5em;
  margin-bottom: 2em;
}

h2 {
  font-weight: normal;
}

button {
  font-size: inherit;
  font-family: inherit;
}

// CODE SECTION
.code {
  display: flex;
  justify-content: center;
  align-items: center;
}

.install {
  padding: 1em 2em;
  @include dark-button();

  &__icon {
    width: 1.25em;
    @include button-icon();
  }
}

.source {
  padding: 1em 2em;
  margin-left: 0.5em;
  @include dark-button();

  &__icon {
    width: 1.25em;
    @include button-icon();
  }
}

// SOCIAL SECTION
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter,
.facebook {
  padding: 0.5em;
}

.twitter svg,
.facebook svg {
  width: 1.3em;
  fill: $color-dark;
  stroke: none;
}

.facebook {
  margin-left: 0.5em;
}

// INFO SECTION
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  padding: 0 0.5em;
}

// STATS SECTION
.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.downloads,
.rating {
  padding: 0.5em 1em;
}

.rating {
  font-size: 0.85em;
  letter-spacing: 0.3em;
}

// SUPPORT SECTION
.support {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;

  &__btn {
    padding: 1em 2em;
    @include dark-button();

    svg {
      width: 0.9em;
      @include button-icon();
      margin-right: 0;
      margin-left: 0.5em;
      stroke-width: 2;
    }
  }
}

// PREVIEWS
.glide__arrow {
  box-shadow: none;
  border: none;

  svg {
    width: 2.5em;
    stroke: hsla(0%, 100%, 100%, 0.5);
    stroke-width: 2;
    fill: none;
  }
}

.glide__slide img {
  width: 100%;
}

// INSTALLATION
.installation {
  text-align: center;

  ol {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    line-height: 1.75;
    margin: 1.5em 0;
    padding: 0 0.5em;
  }
}

// "medium" screens - 768px
@media (min-width: $md) {
  html {
    font-size: 18px;
  }

  .preview {
    padding: 0 5vw;
  }

  .glide__bullets {
    bottom: 2.75em;
  }
}

// "large" screens - 1024px
@media (min-width: $lg) {
  html {
    font-size: 19px;
  }

  header {
    height: 85vh;
  }

  .source {
    margin-left: 2em;
  }

  .preview {
    padding: 0 10vw;
  }

  .glide__bullets {
    bottom: 3.25em;
  }
}

// "xl" screens - 1440px
@media (min-width: $xl) {
  html {
    font-size: 21px;
  }

  .source {
    margin-left: 2.5em;
  }

  .glide__bullets {
    bottom: 3.5em;
  }
}
